.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #111;
  padding-top: 16px;
}

.castItem {
  max-width: 300px;
  min-height: 300px;
  /* width: 100%; */
  height: 100%;
}

.castPhoto {
  max-width: 300px;
}

.castName {
  font-weight: 600;
}
